body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  display: none;
}

@-webkit-keyframes Loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/background.jpg");
  image-rendering: optimizeSpeed;
  background-position: center;
}

.background .dialog {
  position: absolute;
  font-size: 22px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #2f3542;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
}

.background .dialog #loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #c0392b;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background .dialog #loader .spinner {
  width: 5rem;
  height: 5rem;
  border: .5rem solid #cacaca;
  border-radius: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background .dialog #loader .spinner span {
  min-width: 5rem;
  min-height: 5rem;
  border-left: 0.6rem solid #c0392b;
  border-radius: 100%;
  -webkit-animation: Loading 1s infinite linear;
          animation: Loading 1s infinite linear;
}

.background .dialog .container__logo {
  width: 60%;
  height: 100%;
  background: radial-gradient(#c03a2b62, #c03a2b54), url("https://cdn.discordapp.com/attachments/691001925818122270/814644312238325812/blazestonto.png") -100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  image-rendering: optimizeQuality;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.background .dialog .container__logo img {
  width: 40rem;
  margin-left: 7rem;
}

.background .dialog .container__logo::after {
  content: '';
  height: 100%;
  width: 20rem;
  background: url("../img/olas.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: -8rem;
  top: 0rem;
}

.background .dialog .container__login {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .dialog .container__login #register {
  width: 90%;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background .dialog .container__login #register h1 {
  text-align: center;
  color: white;
  margin-bottom: 0;
}

.background .dialog .container__login #register p {
  color: white;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 4rem;
}

.background .dialog .container__login #register input {
  min-height: 4rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding-left: 2rem;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.background .dialog .container__login #register .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background .dialog .container__login #register .row input {
  width: calc(50% - 1rem);
}

.background .dialog .container__login #register .ratio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30rem;
  height: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.background .dialog .container__login #register .ratio input {
  width: 1rem;
  margin-bottom: unset;
  margin-right: 1rem;
}

.background .dialog .container__login #register #submit {
  min-height: 4rem;
  background: #c0392b;
  border: none;
  outline: none;
  border-radius: 1rem;
  color: white;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */